/* .Navbar {
    display: inline-flex;
    position: absolute;
    padding: 10px;
    border-style: solid;
    border-width:2px;
    border-radius: 25px;
    border-color: gold;
    justify-content: space-between;
    z-index: 1;
} */

.Navbar {
    background-color: lightcyan;
}

.NavbarLinks {
    display: flex;
    justify-content: space-between;
}

.inlineComponent {
    padding: 10px;
}